<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="../static/login.css" media="screen">
    </head>
    <body>
      <div class="login-page">
        <div class="form">
          {% for message in get_flashed_messages() %}
            <div class="alert alert-danger" role="alert">
            {{ message }}
            </div>
          {% endfor %}
          <form class="login-form" action="/login" method="post">
            <input type="text" name="username_login" placeholder="Usuário"/>
            <input type="password" name="password_login" placeholder="Senha"/>
            <button style="text-transform: none;" type="submit">Login</button>
            <form>
              <p class="message">Não possui uma conta? <a href="/to_register">Criar um nova conta</a></p>
            </form>
          </form>
        </div>
      </div>
    </body>
</html>
